<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>EmpDBMS</display-name>
	<servlet>
		<servlet-name>EmployeeHandlerServlet</servlet-name>
		<servlet-class>com.nagarro.EmployeeHandler</servlet-class>
	</servlet>
	<servlet>
		<display-name>AddServlet</display-name>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>com.nagarro.AddServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ViewServlet</display-name>
		<servlet-name>ViewServlet</servlet-name>
		<servlet-class>com.nagarro.ViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeHandlerServlet</servlet-name>
		<url-pattern>/User</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/Add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewServlet</servlet-name>
		<url-pattern>/View</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
